@use "@angular/material" as mat;

$header-height: 56px;
$footer-height: 112px;

#header-toolbar {
  justify-content: center;
  height: $header-height !important;
}

#footer-toolbar {
  height: $footer-height !important;
}

.mat-toolbar {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

main {
  height: calc(100% - $header-height - $footer-height);
  overflow-y: auto;
}

#toolbar-buttons-row {
  justify-content: space-between;
}

.mat-expansion-panel {
  margin: 1em 0 !important;
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface-container);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.item-form-field {
  width: 100%;
}

.amount-price {
  display: flex;
  column-gap: 1em;
  width: 100%;

  mat-form-field {
    width: 50%;
  }
}

.invalid-panel {
  @include mat.expansion-overrides(
    (
      header-text-color: var(--mat-sys-error),
      header-description-color: var(--mat-sys-error),
      header-indicator-color: var(--mat-sys-error),
    )
  );
}

.price-prefix {
  color: var(--mat-sys-on-surface);
}

@media (min-width: 768px) {
  form {
    flex-direction: row;
  }

  .item-form-field {
    width: 50%;
  }

  .amount-price {
    width: 50%;
  }
}
