@use "@angular/material" as mat;

#header-toolbar {
  justify-content: center;
}

main {
  // 100% - header - footer
  height: calc(100% - 56px - 112px);
  overflow-y: auto;
}

#toolbar-buttons-row {
  justify-content: space-between;
}

.mat-expansion-panel {
  margin: 1em 0 !important;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.item-form-field {
  width: 100%;
}

.amount-price {
  display: flex;
  column-gap: 1em;

  mat-form-field {
    width: 50%;
  }
}

.invalid-panel {
  @include mat.expansion-overrides(
    (
      header-text-color: var(--mat-sys-error),
      header-description-color: var(--mat-sys-error),
      header-indicator-color: var(--mat-sys-error),
    )
  );
}
